<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f6f6;">
    <div class="container-fluid">
      <img src="https://www.uacj.mx/images/Bibliotecas/formacion_usuarios/Cursos%20Form%20Usuarios%20Icono.png" alt="Bootstrap" width="30" height="24">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/newuser']">Nuevo Usuario</a>
          </li>
                
        </ul>
      </div>
    </div>
  </nav>


  