<section class="container">    
    <figure class="col-12 col-md-4">
        <img class="card-img-top rounded-circle p-2" [src]="oneUser?.image" [alt]="oneUser?.first_name">
    </figure>
    <div class="col-12 col-md-8 ">
        <h1>{{oneUser?.first_name}}</h1>
        <h1>{{oneUser?.last_name}}</h1>
        <p><strong>Nombre Usuario:</strong> {{oneUser?.username}}</p>
        <p><strong>Email:</strong> {{oneUser?.email}}</p>


        <button class="btn btn-danger" (click)="deleteUser(oneUser?._id)">Eliminar</button>
        <a class="btn btn-warning" [routerLink]="['/updateuser', oneUser?._id]">Actualizar</a>
        <a class="btn btn-info" [routerLink]="['/home']">Volver al listado</a>

    </div>
</section>